<header>
   <%= link " ", class: "logo", to: Routes.page_path(@conn, :index) %>

   <%= if logged_in?(@conn) do%>
     <p> "Logged in!"</p>
   <% else %>
     <%= link "Log in", to: Routes.page_path(@conn, :index) %>
   <% end %>

</header>
